body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

#loading-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.5s;
    background-image: url('assets/inicio.png');
    background-size: cover; /* Ajuste para que el fondo se ajuste sin distorsionar */
    width: 100%;
    height: 100%;
}

#play-button {
    margin: auto; /* Centrar tanto horizontal como verticalmente */
    padding: 12px 35px; /* Ajuste del padding según tu preferencia */
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background: #f6781e;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 0 0 3px #2f2e41, 0 6px 0 #2f2e41;
    transition: all 0.1s ease, background 0.3s ease;
}

#play-button:hover,
#play-button:focus {
    background: #df6108;
}

#play-button:active {
    box-shadow: 0 0 0 3px #2f2e41, 0 4px 0 #2f2e41;
    transform: translateY(2px);
}
